# 创建专属微调环境
conda create -n ai_train_env python=3.10 -y

# 激活环境
conda activate ai_train_env

# 1. 切换终端路径到项目训练目录
cd e:\毕业设计\ai-edu-platform\backend\training

# 2. 安装 PyTorch (带 GPU/CUDA 支持)
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

# 3. 安装微调与量化核心库
pip install llamafactory[torch,metrics] bitsandbytes auto-gptq

# 4. 训练
set PYTHONUTF8=1
llamafactory-cli train qlora_sft.yaml

# 5. 测试

LLaMA-Factory 快速测试
cd e:\毕业设计\ai-edu-platform\backend\training\configs
set PYTHONUTF8=1
llamafactory-cli chat qlora_sft.yaml 

导出合并
llamafactory-cli export export_model.yaml
cd e:\毕业设计\ai-edu-platform\backend\training
注册
ollama create ai-edu-r1:7b -f Modelfile
ollama run ai-edu-r1:7b


